<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">Doğan Şengül | <%= title %>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <% if (isAdmin) { %>
                    <li><a href="/admin/addphoto">Add Photo</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                        <% } %>
            </ul>
        </nav>
        <!-- Oturum açmışsa admin mesajı, aksi halde normal kullanıcı mesajı -->
        <% if (isAdmin) { %>
            <p>Hoş geldin admin!</p>
            <% } else { %>
                <p>Hoş geldin normal kullanıcı!</p>
                <% } %>
    </header>
    <main>